@model TimeManager.Models.TimeSpending

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeSpending</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Worker)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Worker)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeSpent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeSpent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Task.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
